/*
    Created on : December, 2021
    Author     : Siiri Poropudas
*/

body{
    background-image: url("../Kuvat/csgo-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
    background-color: rgb(8, 8, 22);
    zoom: 85%;
}

.fa-gamepad{
    color: white;
    font-size: 60px;
}

.nav-item{
    font-size: 20px;
}

.logo{
    background-image: url("../Kuvat/Counter-Strike-Global-Offensive-Logo.png");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: center;
    height: 250px;
}

#center{
    text-align: center;
    margin-bottom: 100px;
}

.textBox{
    background-color: rgb(212, 212, 212);
    width: 1500px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 5px;
    padding: 15px;
    margin-left: 300px;
    font-size: 20px;
    display: inline-block;
    margin: auto;
}

.exampleImage1, .exampleImage2{
    background-repeat: no-repeat;
    background-size: 650px;
    width: 640px;
    height: 600px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 35px;
}

.exampleImage1{
    background-image: url("../Kuvat/csgo-example1.jpg");
}

.exampleImage2{
    background-image: url("../Kuvat/csgo-example2.png");
    margin-left: 35px;
}

.generalHeader, .personalHeader{
    font-weight: bold;
    font-size: 25px;
}

.personalHeader{
    margin-top: 15px;
}

.general, .personal{
    padding: 15px;
}

#source1, #source2{
    color: rgb(182, 182, 182);
}

.footerbar{
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgba(37, 37, 37, 0.473);
    padding: 10px;
}

.footerbar-brand{
    margin-top: 7px;
}

.sources{
    text-align: start;
    font-size: 17px;
}

span{
    color: rgb(92, 92, 92);
}

a{
    color: rgb(143, 143, 143);
    padding: 5px;
}

a:hover{
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1399px){
    .exampleImage1, .exampleImage2{
        background-size: 650px;
        width: 550px;
        height: 600px;
    }
}

@media only screen and (max-width: 1199px){
    .exampleImage1, .exampleImage2{
        background-size: 550px;
        width: 450px;
        height: 500px;
    }
}

@media only screen and (max-width: 820px){
    .exampleImage1, .exampleImage2{
        background-size: 450px;
        width: 450px;
        height: 400px;
    }

    .exampleImage1{
        margin-left: 15px;
    }

    .exampleImage2{
        margin-right: 15px;
    }

    .logo{
        background-size: 600px;
    }
}

@media only screen and (max-width: 575px){
    .textBox{
        width: auto;
    }
}