body{
    background-color: rgb(39, 39, 39);
}

.nav-tabs{
    margin-top: 5px;
}

/*
Lähde: https://pixabay.com/fi/photos/abstrakti-maalaus-h%c3%b6yhenet-kaunis-6047465/
Katsottu 14.12.2021

SIMS KUVA: https://simsvip.com/2013/07/23/update-the-sims-4-logo/
*/
.color-container{
    height: 650px;
    background-image: url("../Kuvat/abstract-6047465_1920.jpg");
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
}

#backgroundImage{
    opacity: 0.7;
    position: relative;
}

.header{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
}

.textUp{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.textDown{
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
}


.box1{
    height: 400px;
    width: 400px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 300px;
    box-shadow: 0px 0px 30px 5px rgb(17, 17, 17);
}

.box2{
    height: 400px;
    width: 400px;
    background-color: yellow;
    position: absolute;
    bottom: 10px;
    left: 755px;
    right: 755px;
    box-shadow: 0px 0px 30px 5px rgb(17, 17, 17);
}

.box3{
    height: 400px;
    width: 400px;
    background-color: turquoise;
    position: absolute;
    bottom: 10px;
    right: 300px;
    box-shadow: 0px 0px 30px 5px rgb(17, 17, 17);
}