body{
    background-color: rgb(8, 8, 22);
    zoom: 85%;
}

.fa-gamepad{
    color: white;
    font-size: 60px;
}

.nav-item{
    font-size: 20px;
}

/*
Lähde: https://pixabay.com/fi/photos/abstrakti-maalaus-h%c3%b6yhenet-kaunis-6047465/
Katsottu 14.12.2021
*/
.color-container{
    height: 650px;
    background-image: url("../Kuvat/abstract-6047465_1920.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 20px rgb(8, 8, 22);
}

#backgroundImage{
    opacity: 0.7;
}

.header{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
}

.textUp{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.textDown{
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
}

.box1{
    background-image: url("../Kuvat/Minecraft-Logo.png");
    background-repeat: no-repeat;
    background-size: 375px;
    background-position: center;
}

.box2{
    background-image: url("../Kuvat/sims4alexis-2.png");
    background-repeat: no-repeat;
    background-size: 375px;
    background-position: center;  
}

.box3{
    background-image: url("../Kuvat/counter-strike-png-5212.png");
    background-repeat: no-repeat;
    background-size: 375px;
    background-position: center;
}

.box1, .box2, .box3{
    height: 500px;
    width: 400px;
    background-color: rgb(212, 212, 212);
    bottom: 200px;
    box-shadow: inset 0px 0px 20px 20px white;
    position: relative;
    margin-left: 15px;
    border-radius: 10px;
}

.box1:hover, .box2:hover, .box3:hover{
    bottom: 250px;
}

.footerbar{
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgba(37, 37, 37, 0.473);
    padding: 10px;
}

a{
    color: white;
    padding: 5px;
}

a:hover{
    color: gray;
}

@media only screen and (max-width: 1399px) {
    .box1, .box2, .box3{
        height: 400px;
        width: 200px;
        background-color: rgb(212, 212, 212);
        bottom: 200px;
        box-shadow: inset 0px 0px 20px 20px white;
        position: relative;
        padding-top: 120px;
        align-items: center;
        margin-left: 15px;
        border-radius: 10px;
        background-size: 320px;
    }
}

@media only screen and (max-width: 1199px) {
    .box1, .box2, .box3{
        height: 400px;
        width: 200px;
        background-color: rgb(212, 212, 212);
        bottom: 200px;
        box-shadow: inset 0px 0px 20px 20px white;
        position: relative;
        padding-top: 120px;
        align-items: center;
        margin-left: 15px;
        border-radius: 10px;
        background-size: 250px;
    }
}

@media only screen and (max-width: 990px) {
    .box1, .box2, .box3{
        height: 300px;
        width: 200px;
        background-color: rgb(212, 212, 212);
        bottom: 200px;
        box-shadow: inset 0px 0px 20px 20px white;
        position: relative;
        padding-top: 120px;
        align-items: center;
        margin-left: 15px;
        border-radius: 10px;
        background-size: 180px;
    }
}

@media only screen and (max-width: 769px) {
    .box1, .box2, .box3{
        height: 300px;
        width: 300px;
        background-color: rgb(212, 212, 212);
        bottom: 200px;
        box-shadow: inset 0px 0px 20px 20px white;
        position: relative;
        padding-top: 120px;
        align-items: center;
        margin-left: 15px;
        border-radius: 10px;
        background-size: 120px;
    }
}