/*
    Created on : December, 2021
    Author     : Siiri Poropudas
*/

body{
    background-image: url("../Kuvat/sims-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(8, 8, 22);
    zoom: 85%;
}

.fa-gamepad{
    color: white;
    font-size: 60px;
}

.nav-item{
    font-size: 20px;
}

#accordionPane{
    margin-top: 20px;
}

.logo{
    background-image: url("../Kuvat/sims-logo.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    height: 250px;
    margin-top: 20px;
}

#content{
    text-align: center;
    margin-top: 50px;
}

.sims{
    background-image: url("../Kuvat/Sims-standing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    width: 400px;
    height: 850px;
    display: inline-block;
}

.sim{
    background-image: url("../Kuvat/Tired-sim-standing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px;
    width: 400px;
    height: 850px;
    display: inline-block;
}

.textBox{
    background-color: rgb(212, 212, 212);
    text-align: left;
    width: 400px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    margin-left: 630px;
    display: inline-block;
    position: absolute;
}

.generalHeader, .personalHeader{
    font-weight: bold;
    font-size: 25px;
}

.personalHeader{
    margin-top: 15px;
}

.general, .personal{
    padding: 15px;
}

.exampleImage{
    background-image: url("../Kuvat/sims-gameplay.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    width: 600px;
    height: 600px;
    border: 10px solid rgb(41, 40, 40);
    border-radius: 5px;
    margin-right: 500px;
    display: inline-block;
}

.footerbar{
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgba(37, 37, 37, 0.473);
    padding: 10px;
}

.footerbar-brand{
    margin-top: 7px;
}

.sources{
    text-align: start;
}

span{
    color: rgb(161, 161, 161);
}

a{
    color: white;
    padding: 5px;
}

a:hover{
    color: gray;
}

@media only screen and (max-width: 1622px){
    .sims{
        background-size: 550px;
        width: 300px;
        height: 750px;    
    }

    .sim{
        background-size: 300px;
        width: 300px;
        height: 750px;    
    }
}

@media only screen and (max-width: 1452px){
    .sims{
        display: none;
    }
}

@media only screen and (max-width: 1210px){
    .sim{
        display: none;
    }

    .exampleImage{
        margin-bottom: 150px;
    }
}

@media only screen and (max-width: 1165px){
    .textBox{
        margin-left: 100px;
    }

    .exampleImage{
        margin: auto;
        margin-top: 750px;
        margin-bottom: 30px;
    }
}